.modal-size {
  width: 25rem;
  height: 25rem; /* Maintain square shape */
  max-width: 700px;
  max-height: 700px;
}

@media (min-width: 768px) {
  .modal-size {
    width: 50vw;
    height: 50vw; /* Maintain square shape */
    max-width: 700px;
    max-height: 700px;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: rgb(165, 12, 12);
  transition: color 0.3s;
}

.close-btn:hover {
  color: hsl(0, 100%, 50%);
}