
.header {
  text-align: center;
  font-size: 32px;
  font-family: 'Orbitron', sans-serif;
  color: #00f7ff;
  text-shadow: 0 0 10px rgba(1, 80, 20, 0.7);
}

.challenges {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 
}

.section-title {
  text-align: center;

  font-size: 28px;
  color: #00ff8c;
  margin-bottom: 5px;
}

.contest-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.card {
  margin: 10px;
  flex: 1 0 30%;
  width: 300px;
  border: 2px solid #0ff; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card-body {
  padding: 5px;
 
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  color: #0cc;
}

.card-text {
  font-size: 13px;
  color: #0cc;
}

.solutions-button {
  font-size: 16px;
  background-color: rgb(1, 141, 151);
  color: #222222;
  border: 2px solid rgb(4, 96, 96);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.solutions-button:hover {
  background-color: rgb(4, 252, 252);
}

.add-contest-button{
  background-color: rgb(4, 252, 153);
}