.landing-page {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  

  .header {
    margin-top: 0;
    font-size: 32px;
    font-family: 'Orbitron', sans-serif;
    color: #af0099;
    text-shadow: 0 0 10px rgba(255, 0, 153, 0.7); 
  }
  .challenges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  

  .solutions-link {
    text-decoration: none;
  }
  
  .solutions-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0ff;
    color: #222;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .solutions-button:hover {
    background-color: #0cc;
  }