.landing-page {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  

  .header {
    margin-top: 0;
    font-size: 32px;
    font-family: 'Orbitron', sans-serif;
    color: #00f7ff;
    text-shadow: 0 0 10px rgba(1, 80, 20, 0.7); 
  }
  .challenges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  

  .solutions-link {
    text-decoration: none;
  }
  
  .solutions-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0ff;
    color: #222;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .solutions-button:hover {
    background-color: #0cc;
  }

  
.ranking-table {
  width: 75%;
  height: 100vh;
  margin: 0 auto;
  padding-top: 8rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid  #0ff; 
  color: #cfcfcf;
  padding: 8px;
  text-align: center;
}

th {
  background: linear-gradient(135deg, #1a1a1d, #2d2d34); 
  font-weight: bold;
  color: #00ff8c;
  text-shadow: 0 0 10px rgba(1, 80, 20, 0.7);
}
